
    <app-header></app-header>

    <header>
     <i><b>All Time Favourites</b></i>
    </header>
  
        <h2 style="margin-bottom: 80px;margin-left: 520px;">Delight In Every Flavor</h2>
         <!-- <div id="menudet" style="background-color: rgb(210, 153, 30);height:200px; margin-top: 50px;">
              Works 
        </div> -->
        <div style="background-color: #f5a615; height: 250px;">
        <div class="kidsbrand">
            <div class="roundbrand" style="background-color: aliceblue;"> <img src="assets/frisauce.jpg" style="width:252px;height:252px;margin-left:10px;margin-top: 0px;border-radius: 200px;"></div>
            <div class="roundbrand1"style="background-color: aliceblue;"> <img src="assets/burgir.avif" style="width:252px;height:252px;margin-left:10px;margin-top: 0px;border-radius: 170px;"></div>
            <div class="roundbrand2"style="background-color: aliceblue;"> <img src="assets/pizu.jpg" style="width:252px;height:252px;margin-left:10px;margin-top: 0px;border-radius: 200px;"></div>
          </div>
        </div>
  





<div style="height: 3000px;"> 
  <div style="height: 750px;">
 <h3 class="registration-title" style="text-align: center; padding-top: 50px; font-size: 40px; font-weight: 800; font-family: 'Lucida Handwriting', Times, serif; color:#590a79;"><b>Explore Our Menu</b></h3>

 <div class="divider2"  >
  <h3 class="registration-title" style="text-align: center; padding-top: 50px; font-size: 30px; font-weight: 600; font-family: 'Times New Roman', Times, serif; color: rgb(49, 40, 40); "><b>Pizza</b></h3>

   <i class="fa-solid fa-leaf" style="color: #e69100; font-size: 22px; "></i>
 </div> 
<br><br>
 <div class="row" style="height: 500px;">
     <div class="column" >
       <div class="card">

         <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"><b>Margherita pizza</b></p>
        
         <img src="/assets/gallery_images/pizza11.jpg" style="width: 100%; height: 250px; margin-top: 20px;"> 
            <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #0e0d0d; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: rgb(19, 18, 18);">Amount :150.00</label>
            </h4>
 
       </div>
     </div>

       <div class="column" >
       <div class="card">
         <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"><b>Corn pizza</b></p>
         
         <img src="/assets/corn1.jpeg" style="width: 100%; height: 250px; margin-top: 20px;"> 
         <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #0e0d0d; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: rgb(19, 18, 18);">Amount :175.00</label>
         </h4>
       </div>
     </div>

     <div class="column" >
         <div class="card">
           <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"><b>Paneer & Onion</b></p>
         
           <img src="/assets/paneer.jpg" style="width: 100%; height: 250px; margin-top: 20px;"> 
           <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #0e0d0d; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: rgb(19, 18, 18);">Amount :199.00</label>
           </h4>
   
         </div>
       </div>


       <div class="column" >
         <div class="card">
           <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"><b>Farmhouse Pizaa</b></p>
         
           <img src="/assets/gallery_images/pizza1.jpg" style="width: 100%; height: 250px; margin-top: 20px;"> 
           <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #0e0d0d; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: rgb(19, 18, 18);">Amount :249.00</label>
           </h4>
         </div>
       </div>
  </div>
<!------------- burger---------------->

       <div style="height: 700px; ">
        <h3 class="registration-title" style="text-align: center; padding-top: 50px; font-size: 30px; font-weight: 600; font-family: 'Times New Roman', Times, serif; color: rgb(49, 40, 40); "><b>Burger</b></h3>
       <div class="divider2"  >
         <i class="fa-solid fa-leaf" style="color: #e69100; font-size: 22px; "></i>
       </div> 
   <br><br>
       <div class="row" style="height: 500px;">
         <div class="column" >
             <div class="card">
               <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"><b>Veggie Burger</b></p>
            
             
               <img src="/assets/burger.jpg" style="width: 100%; height: 250px; margin-top: 20px;"> 
                  <h4 style="text-decoration: line-through; margin-bottom: 30px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">Amount: 90.00</label></h4>
       
             </div>
           </div>
   
             <div class="column" >
             <div class="card">
               <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"><b>Crispy Burger</b></p>
               <img src="/assets/gallery_images/burgur.jpg" style="width: 100%; height: 250px; margin-top: 20px;"> 
                  <h4 style="text-decoration: line-through; margin-bottom: 40px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">Amount: 140.00</label></h4>
       
             </div>
           </div>

           <div class="column" >
            <div class="card">
              <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"><b>Dubble Cheese Burger</b></p>
              <img src="/assets/dubblepatties.png" style="width: 100%; height: 250px; margin-top: 20px;"> 
                 <h4 style="text-decoration: line-through; margin-bottom: 40px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">Amount: 140.00</label></h4>
      
            </div>
          </div>

          <div class="column" >
            <div class="card">
              <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"><b>Dubble Patties Burger</b></p>
              <img src="/assets/dubblepatties1.jpg" style="width: 100%; height: 250px; margin-top: 20px;"> 
                 <h4 style="text-decoration: line-through; margin-bottom: 40px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">Amount: 140.00</label></h4>
      
            </div>
          </div>
   
 

         </div>

   
</div>
 
<!------------- Coffee ---------->

       <div style="height: 700px; ">
        <h3 class="registration-title" style="text-align: center; padding-top: 50px; font-size: 30px; font-weight: 600; font-family: 'Times New Roman', Times, serif; color: rgb(49, 40, 40); "><b>Coffee</b></h3>

       <div class="divider2"  >
         <i class="fa-solid fa-leaf" style="color: #e69100; font-size: 22px; "></i>
       </div> 
   <br><br>
       <div class="row" style="height: 500px;">
           <div class="column" >
             <div class="card">
               <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"><b>Coffee</b></p>
              
               <img src="/assets/gallery_images/coffee1.jpg" style="width: 100%; height: 250px; margin-top: 20px;"> 
                  <h4 style="text-decoration: line-through; margin-bottom: 30px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">Amount: 70.00</label></h4>
       
             </div>
           </div>
   
             <div class="column" >
             <div class="card">
               <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"><b>Cold Coffee</b></p>
               <img src="/assets/gallery_images/cold_brew.webp" style="width: 100%; height: 250px; margin-top: 20px;"> 
                  <h4 style="text-decoration: line-through; margin-bottom: 40px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">Amount: 90.00</label></h4>
       
             </div>
           </div>
   
           <div class="column" >
               <div class="card">
                 <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"><b>Black Tea</b></p>
                 <img src="/assets/gallery_images/black.jpg" style="width: 100%; height: 250px; margin-top: 20px;"> 
                    <h4 style="text-decoration: line-through; margin-bottom: 30px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">Amount: 65.00</label></h4>
                    
         
               </div>
             </div>

             <div class="column" >
              <div class="card">
                <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"><b>Green Tea</b></p>
               
                <img src="/assets/green tea.jpg" style="width: 100%; height: 250px; margin-top: 20px;"> 
                   <h4 style="text-decoration: line-through; margin-bottom: 30px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">Amount: 70.00</label></h4>
        
              </div>
          </div>

         </div>
</div>


<!------------- Ice Cream---------->

<div style="height: 700px; ">
 <h3 class="registration-title" style="text-align: center; padding-top: 50px; font-size: 30px; font-weight: 600; font-family: 'Times New Roman', Times, serif; color: rgb(49, 40, 40); ">Ice-Cream
 </h3>

<div class="divider2"  >
  <i class="fa-solid fa-leaf" style="color: #e69100; font-size: 22px; "></i>
</div> 
<br><br>
<div class="row" style="height: 500px;">
    <div class="column" >
      <div class="card">
        <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"><b>Chocolate</b></p>
        <img src="/assets/gallery_images/chocolate.jpg" style="width: 100%; height: 200px; margin-top: 20px;"> 
           <h4 style="text-decoration: line-through; margin-bottom: 30px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">Amount: 110.00</label></h4>

      </div>
    </div>

      <div class="column" >
      <div class="card">
        <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"><b>Butter Scotch</b></p>
        <img src="/assets/gallery_images/butter scotch.jpg" style="width: 100%; height: 200px; margin-top: 20px;"> 
           <h4 style="text-decoration: line-through; margin-bottom: 40px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">Amount: 160.00</label></h4>
           

      </div>
    </div>

    <div class="column" >
        <div class="card">
          <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"><b>Strawberry</b></p>
          <img src="/assets/gallery_images/straberry.jpg" style="width: 100%; height: 200px; margin-top: 20px;"> 
             <h4 style="text-decoration: line-through; margin-bottom: 30px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">Amount: 90.00</label></h4>
  
        </div>
      </div>


      <div class="column" >
        <div class="card">
          <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"><b>Vanilla</b></p>
          <img src="/assets/gallery_images/vanila.jpg" style="width: 100%; height: 200px; margin-top: 20px;"> 
             <h4 style="text-decoration: line-through; margin-bottom: 30px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">Amount: 120.00</label></h4>
  
        </div>
      </div>

  </div>


</div>


<!------------- fries ---------------->

<div style="height: 700px; ">
 <h3 class="registration-title" style="text-align: center; padding-top: 50px; font-size: 30px; font-weight: 600; font-family: 'Times New Roman', Times, serif; color: rgb(49, 40, 40); ">Fries</h3>

<div class="divider2"  >
  <i class="fa-solid fa-leaf" style="color: #e69100; font-size: 22px; "></i>
</div> 
<br><br>
<div class="row" style="height: 500px;">
  <div class="column" >
      <div class="card">
        <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"><b>Fries</b></p>
       
        <img src="/assets/gallery_images/fries.jpg" style="width: 100%; height: 200px; margin-top: 20px;"> 
           <h4 style="text-decoration: line-through; margin-bottom: 30px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">Amount: 100.00</label></h4>

      </div>
    </div>

      <div class="column" >
      <div class="card">
        <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"><b>Cheese Masala Fries</b></p>
        <img src="/assets/fri.jpg" style="width: 100%; height: 200px; margin-top: 20px;"> 
           <h4 style="text-decoration: line-through; margin-bottom: 40px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">Amount: 140.00</label></h4>

      </div>
    </div>

    <div class="column" >
      <div class="card">
        <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"><b>Garlic French Fries</b></p>
        <img src="/assets/f3.jpg" style="width: 100%; height: 200px; margin-top: 20px;"> 
           <h4 style="text-decoration: line-through; margin-bottom: 40px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">Amount: 140.00</label></h4>

      </div>
    </div>

    <div class="column" >
      <div class="card">
        <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"><b>Crispy Fries</b></p>
        <img src="/assets/f1.jpg" style="width: 100%; height: 200px; margin-top: 20px;"> 
           <h4 style="text-decoration: line-through; margin-bottom: 40px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">Amount: 140.00</label></h4>

      </div>
    </div>



    


  </div>
</div>
<app-footer></app-footer>
</div>
