<div class="container-fluid footer">

    <div class="row">
        <div class="footer-col">
            <h4>company</h4>
            <ul>
                <li><a href="aboutUs">about us</a></li>
                <li><a href="#">our services</a></li>
                <li><a href="#">privacy policy</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>get help</h4>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#"></a></li>
                <li><a href="#">Your Order</a></li>
                <li><a href="#">order status</a></li>
                <li><a href="#">payment options</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>More Info</h4>
            <ul>
                <li><a href="">online Order</a></li>
                <li><a href="#">Takeway available</a></li>
                <li><a href="#">Home Delivery</a></li>
                <li><a href="#">Indoor Seating</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-whatsapp"></i></a>
                
            </div>
        </div>
    </div>

</div>