<!-- 

<app-header></app-header> 
<div  class="fade-in">
    <h2 style=" font-family: 'Times New Roman', Times, serif; text-align: center; font-size: 30px; margin-top: 100px; color:rgb(41, 26, 16) ; font-weight: 600;">CONTACT US</h2>
    <h3  style="text-align: center; font-size: 70px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-top: 50px; color: saddlebrown;">Feel Free To Contact</h3></div>


   <div class="contact-page" style="margin-left: 350px; height: 500px; margin-top: 150px;">
    <img src="/assets/contact.jpg" alt="Contact Image" style="float: left; margin-right: 20px; height: 300px; opacity: 0.7;">

<br>
  
<h4 style="font-size: 35px; color:rgb(74, 46, 28) ; font-family: 'Times New Roman', Times, serif;"><i class="fas fa-phone"></i> Phone</h4>
<p  style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; margin-left: 10px; ">Call time 9:00 AM / 8:00 PM</p>
<p  style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; ">+012 345 6789</p>

    <br>
    <br>
    <h4 style="font-size: 35px; color:rgb(74, 46, 28) ; font-family: 'Times New Roman', Times, serif;" ><i class="far fa-envelope"></i> Email</h4>
    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 20px;">rkscafe&copy;gmail.com</p>

    <br>
    <br>
    <h1 style="font-size: 35px; color:rgb(74, 46, 28) ; font-family: 'Times New Roman', Times, serif;"><i class="fas fa-map-marker-alt"></i>Address</h1>
    
    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; margin-top: 20px;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RK's Cafe , Mayur Trade Centere</p>

    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pimpri-Chinchwad Pune</p>
   
</div>

<div class="social-media-container" style="height: 125px;">
    <p  style=" font-family: 'Times New Roman', Times, serif; text-align: center; font-size: 35px; margin-top: 80px;  font-weight: 600;"><b style="color:rgb(41, 26, 16) ;">Connect With Us Socially</b></p>
    <br>
    <div class="social-links" style="margin-top: -33px;">
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-twitter"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-whatsapp"></i></a>
        
    </div>
    <br>
</div>
<app-footer></app-footer> -->
<app-header></app-header>
<div  class="fade-in">
    <h2 style=" font-family: 'Times New Roman', Times, serif; text-align: center; font-size: 30px; margin-top: 100px; color:rgb(41, 26, 16) ; font-weight: 600;">CONTACT US</h2>
    <h3  style="text-align: center; font-size: 70px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-top: 50px; color: saddlebrown;">Feel Free To Contact</h3></div>

    <div class="contact-page" style="margin-left: 350px; height: 500px; margin-top: 150px;">
        <img src="/assets/wallpaper.jpg" alt="Contact Image" style="float: left; margin-right: 20px; height: 300px; opacity: 0.7;">

    <!-- <p style="background-image: url('/assets/wallpaper.jpg');"></p>
   <div class="contact-page" style="margin-left: 20px; height: 1000px; margin-top: 90px; "> -->


<br>
  
<h4 style="font-size: 35px; color:rgb(74, 46, 28) ; font-family: 'Times New Roman', Times, serif;"><i class="fas fa-phone"></i> Phone</h4>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; margin-left: 10px; ">Call time 9:00 AM / 8:00 PM</p>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; ">+012 345 6789</p>

    <br>
    <br>
    <h4 style="font-size: 35px; color:rgb(74, 46, 28) ; font-family: 'Times New Roman', Times, serif;" ><i class="far fa-envelope"></i> Email</h4>
    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 20px;">rkscafe&copy;gmail.com</p>

    <br>
    <br>
    <h1 style="font-size: 35px; color:rgb(74, 46, 28) ; font-family: 'Times New Roman', Times, serif;"><i class="fas fa-map-marker-alt"></i>Address</h1>
    
    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; margin-top: 25px;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RK's Cafe , Mayur Trade Centere</p>

    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pimpri-Chinchwad Pune</p>
   
</div>

<div class="social-media-container" style="height: 125px;">
    <p  style=" font-family: 'Times New Roman', Times, serif; text-align: center; font-size: 35px; margin-top: 100px;  font-weight: 600;"><b style="color:rgb(41, 26, 16) ;">Connect With Us Socially</b></p>
    <br>
    <div class="social-links" style="margin-bottom: 50PX;">
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-twitter"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-whatsapp"></i></a>
        
    </div>
    <!-- Add more social media icons as needed -->
    <app-footer></app-footer>
</div>