
 
<app-header></app-header> 
  

 <!-- <div class="container-fluid">
  < <div class="row"> 
      <div class="col-lg-6">
          <div class="imgBG">
              <img class="bgImg" src="assets/Images/about.jpg">
              <div class="overlay">
                  <h5>About Us</h5>
                  <p>Welcome to [Your Cafe's Name], your premier destination for exceptional coffee and a cozy ambiance. At [Your Cafe's Name], we're not just passionate about serving great coffee; we're also dedicated to providing an unparalleled experience for our customers. To ensure that every visit to our café is memorable, we've developed a cutting-edge café management system that helps us operate efficiently while delivering top-notch service.</p>
              </div>
          </div>
      </div>
  </div>
</div> -->

 
<div class="imgBG " style="margin-left: 20px; margin-top:-170px;">
    <video  width="1310" height="1200" autoplay>
      <source src="\assets\video.mp4" type="video/mp4">
  </video>
</div>

<!-- 
<div class="imgBG">
  <img class="bgImg" src="assets/Images/about.jpg">
  <div class="overlay">
    <h5> <b> About Us</b></h5>
    <p class="para">Welcome to Rk's Cafe, your premier destination for exceptional coffee and a cozy ambiance. At RK's, we're not just passionate about serving great coffee; we're also dedicated to providing an unparalleled experience for our customers. To ensure that every visit to our café is memorable, we've developed a cutting-edge café management system that helps us operate efficiently while delivering top-notch service.</p>
</div>
</div>  -->
<p  style="color: black;margin-left: 200px; margin-top:-170px;">
    <b><i>Welcome to RK's Cafe, your premier destination for exceptional coffee and a cozy ambiance.<br>At RK's Cafe, we're not just passionate about serving great coffee; we're also dedicated <br>to providing
    an unparalleled experience for our customers. To ensure that every visit to our <br>café is memorable, we've developed a
    cutting-edge café management system that helps us<br> operate efficiently while delivering top-notch service.</i></b>
