<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<br>
<br>
<br>


<a id="main" href="/home" routerLinkActive="active" style="margin-top: 50px;">
  <mat-icon aria-hidden="false" aria-label="Example menu icon" fontIcon="menu">menu</mat-icon>
</a>

  <div class="about-us-image">
    <a href="/home">
      <img src="assets/Images/logo.jpg" alt="Another Image">
    </a>
    
    <!-- <img src="assets\Images\logo.jpg" alt="Another Image"> -->
</div> 
<h3>WELCOME&nbsp;&nbsp;&nbsp;TO&nbsp;&nbsp;RK'S&nbsp;&nbsp;CAFE&nbsp;&nbsp;!!!</h3>
<div class="menu-icon" >
  <i class="fas fa-bars"></i>
</div>
</body>
</html>